.MainGroup
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.customButton {
    display: flex;
    background-color:white;
    color: #858585;
    font-size: 14px;
    border: rgb(255, 255, 255);
    cursor: pointer;
    padding: 9px 20px; 
    }

.active{
    background-color: rgb(238, 238, 238);
    }
