/* .App {
  font-family: 'Open Sans';
} */
.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  /* background: #f7f4ed; */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #D7D7D7;
  border-radius: 100vh;
  border: 0px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D7D7D7;
}