/* .App {
  font-family: 'Open Sans';
} */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F8F8F8;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #D7D7D7;
  border-radius: 10px;
  border: 0px;
  max-height: 11px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D7D7D7;
}